:root {
  --light-syntax-tag: #55b4d4;
  --light-syntax-func: #f2ae49;
  --light-syntax-entity: #399ee6;
  --light-syntax-string: #86b300;
  --light-syntax-regexp: #4cbf99;
  --light-syntax-markup: #f07171;
  --light-syntax-keyword: #fa8d3e;
  --light-syntax-special: #e6ba8e;
  --light-syntax-comment: #787b8099;
  --light-syntax-constant: #a37acc;
  --light-syntax-operator: #ed9366;
  --light-vcs-added: #6cbf43;
  --light-vcs-modified: #478acc;
  --light-vcs-removed: #ff7383;
  --light-editor-fg: #5c6166;
  --light-editor-bg: #fcfcfc;
  --light-editor-line: #8a91991a;
  --light-editor-selection-active: #035bd626;
  --light-editor-selection-inactive: #035bd612;
  --light-editor-findMatch-active: #9f40ff2b;
  --light-editor-findMatch-inactive: #9f40ffcc;
  --light-editor-gutter-active: #8a9199cc;
  --light-editor-gutter-normal: #8a919966;
  --light-editor-indentGuide-active: #8a919959;
  --light-editor-indentGuide-normal: #8a91992e;
  --light-ui-fg: #8a9199;
  --light-ui-bg: #f8f9fa;
  --light-ui-line: #6b7d8f1f;
  --light-ui-selection-active: #56728f1f;
  --light-ui-selection-normal: #6b7d8f1f;
  --light-ui-panel-bg: #f3f4f5;
  --light-ui-panel-shadow: #00000026;
  --light-common-accent: #ffaa33;
  --light-common-error: #e65050;

  /* Mirage */
  --mirage-syntax-tag: #5ccfe6;
  --mirage-syntax-func: #ffd173;
  --mirage-syntax-entity: #73d0ff;
  --mirage-syntax-string: #d5ff80;
  --mirage-syntax-regexp: #95e6cb;
  --mirage-syntax-markup: #f28779;
  --mirage-syntax-keyword: #ffad66;
  --mirage-syntax-special: #ffdfb3;
  --mirage-syntax-comment: #b8cfe680;
  --mirage-syntax-constant: #dfbfff;
  --mirage-syntax-operator: #f29e74;
  --mirage-vcs-added: #87d96c;
  --mirage-vcs-modified: #80bfff;
  --mirage-vcs-removed: #f27983;
  --mirage-editor-fg: #cccac2;
  --mirage-editor-bg: #242936;
  --mirage-editor-line: #1a1f29;
  --mirage-editor-selection-active: #409fff40;
  --mirage-editor-selection-inactive: #409fff21;
  --mirage-editor-findMatch-active: #695380;
  --mirage-editor-findMatch-inactive: #69538066;
  --mirage-editor-gutter-active: #8a9199cc;
  --mirage-editor-gutter-normal: #8a919966;
  --mirage-editor-indentGuide-active: #8a919959;
  --mirage-editor-indentGuide-normal: #8a91992e;
  --mirage-ui-fg: #707a8c;
  --mirage-ui-bg: #1f2430;
  --mirage-ui-line: #171b24;
  --mirage-ui-selection-active: #63759926;
  --mirage-ui-selection-normal: #69758c1f;
  --mirage-ui-panel-bg: #1c212b;
  --mirage-ui-panel-shadow: #12151cb3;
  --mirage-common-accent: #ffcc66;
  --mirage-common-error: #ff6666;

  /* Dark */

  --dark-syntax-tag: #39bae6;
  --dark-syntax-func: #ffb454;
  --dark-syntax-entity: #59c2ff;
  --dark-syntax-string: #aad94c;
  --dark-syntax-regexp: #95e6cb;
  --dark-syntax-markup: #f07178;
  --dark-syntax-keyword: #ff8f40;
  --dark-syntax-special: #e6b673;
  --dark-syntax-comment: #acb6bf8c;
  --dark-syntax-constant: #d2a6ff;
  --dark-syntax-operator: #f29668;
  --dark-vcs-added: #7fd962;
  --dark-vcs-modified: #73b8ff;
  --dark-vcs-removed: #f26d78;
  --dark-editor-fg: #bfbdb6;
  --dark-editor-bg: #0d1017;
  --dark-editor-line: #131721;
  --dark-editor-selection-active: #409fff4d;
  --dark-editor-selection-inactive: #409fff21;
  --dark-editor-findMatch-active: #6c5980;
  --dark-editor-findMatch-inactive: #6c598066;
  --dark-editor-gutter-active: #6c7380e6;
  --dark-editor-gutter-normal: #6c738099;
  --dark-editor-indentGuide-active: #6c738080;
  --dark-editor-indentGuide-normal: #6c738033;
  --dark-ui-fg: #565b66;
  --dark-ui-bg: #0b0e14;
  --dark-ui-line: #11151c;
  --dark-ui-selection-active: #47526640;
  --dark-ui-selection-normal: #47526633;
  --dark-ui-panel-bg: #0f131a;
  --dark-ui-panel-shadow: #00000080;
  --dark-common-accent: #e6b450;
  --dark-common-error: #d95757;
}
